In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("blns2023.csv")
df

,rank,position,personName,finalWorth,age,country,state,city,source,industries,countryOfCitizenship,gender,title
0,1,1,Bernard Arnault & family,211000.0,74.0,France,NaN,Paris,LVMH,Fashion & Retail,France,M,Chairman and CEO
1,2,2,Elon Musk,180000.0,51.0,United States,Texas,Austin,"Tesla, SpaceX",Automotive,United States,M,CEO
2,3,3,Jeff Bezos,114000.0,59.0,United States,Washington,Medina,Amazon,Technology,United States,M,Chairman and Founder
3,4,4,Larry Ellison,107000.0,78.0,United States,Hawaii,Lanai,Oracle,Technology,United States,M,CTO and Founder
4,5,5,Warren Buffett,106000.0,92.0,United States,Nebraska,Omaha,Berkshire Hathaway,Finance & Investments,United States,M,CEO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2540,2636,Yu Rong,1000.0,51.0,China,NaN,Shanghai,Health clinics,Healthcare,China,M,NaN
2636,2540,2637,"Richard Yuengling, Jr.",1000.0,80.0,United States,Pennsylvania,Pottsville,Beer,Food & Beverage,United States,M,NaN
2637,2540,2638,Zhang Gongyun,1000.0,60.0,China,NaN,Gaomi,Tyre manufacturing machinery,Manufacturing,China,M,NaN
2638,2540,2639,Zhang Guiping & family,1000.0,71.0,China,NaN,Nanjing,Real estate,Real Estate,China,M,NaN
2639,2540,2640,Inigo Zobel,1000.0,66.0,Philippines,NaN,Makati,Diversified,Diversified,Philippines,M,NaN

In [16]:
df['industries']

0            Fashion & Retail
1                  Automotive
2                  Technology
3                  Technology
4       Finance & Investments
                ...
2635               Healthcare
2636          Food & Beverage
2637            Manufacturing
2638              Real Estate
2639              Diversified
Name: industries, Length: 2640, dtype: object

In [17]:
df['finalWorth'] = df['finalWorth']/1000
df

,rank,position,personName,finalWorth,age,country,state,city,source,industries,countryOfCitizenship,gender,title
0,1,1,Bernard Arnault & family,211.0,74.0,France,NaN,Paris,LVMH,Fashion & Retail,France,M,Chairman and CEO
1,2,2,Elon Musk,180.0,51.0,United States,Texas,Austin,"Tesla, SpaceX",Automotive,United States,M,CEO
2,3,3,Jeff Bezos,114.0,59.0,United States,Washington,Medina,Amazon,Technology,United States,M,Chairman and Founder
3,4,4,Larry Ellison,107.0,78.0,United States,Hawaii,Lanai,Oracle,Technology,United States,M,CTO and Founder
4,5,5,Warren Buffett,106.0,92.0,United States,Nebraska,Omaha,Berkshire Hathaway,Finance & Investments,United States,M,CEO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2540,2636,Yu Rong,1.0,51.0,China,NaN,Shanghai,Health clinics,Healthcare,China,M,NaN
2636,2540,2637,"Richard Yuengling, Jr.",1.0,80.0,United States,Pennsylvania,Pottsville,Beer,Food & Beverage,United States,M,NaN
2637,2540,2638,Zhang Gongyun,1.0,60.0,China,NaN,Gaomi,Tyre manufacturing machinery,Manufacturing,China,M,NaN
2638,2540,2639,Zhang Guiping & family,1.0,71.0,China,NaN,Nanjing,Real estate,Real Estate,China,M,NaN
2639,2540,2640,Inigo Zobel,1.0,66.0,Philippines,NaN,Makati,Diversified,Diversified,Philippines,M,NaN

In [26]:
first50 = df[df['rank']<=20]
first50 = first50[['personName','finalWorth','country','industries', 'position']]

In [27]:
dic = first50.to_dict(orient ='records')
dic

[{'personName': 'Bernard Arnault & family',
  'finalWorth': 211.0,
  'country': 'France',
  'industries': 'Fashion & Retail',
  'position': 1},
 {'personName': 'Elon Musk',
  'finalWorth': 180.0,
  'country': 'United States',
  'industries': 'Automotive',
  'position': 2},
 {'personName': 'Jeff Bezos',
  'finalWorth': 114.0,
  'country': 'United States',
  'industries': 'Technology',
  'position': 3},
 {'personName': 'Larry Ellison',
  'finalWorth': 107.0,
  'country': 'United States',
  'industries': 'Technology',
  'position': 4},
 {'personName': 'Warren Buffett',
  'finalWorth': 106.0,
  'country': 'United States',
  'industries': 'Finance & Investments',
  'position': 5},
 {'personName': 'Bill Gates',
  'finalWorth': 104.0,
  'country': 'United States',
  'industries': 'Technology',
  'position': 6},
 {'personName': 'Michael Bloomberg',
  'finalWorth': 94.5,
  'country': 'United States',
  'industries': 'Media & Entertainment',
  'position': 7},
 {'personName': 'Carlos Slim Helu & family',
  'finalWorth': 93.0,
  'country': 'Mexico',
  'industries': 'Telecom',
  'position': 8},
 {'personName': 'Mukesh Ambani',
  'finalWorth': 83.4,
  'country': 'India',
  'industries': 'Diversified',
  'position': 9},
 {'personName': 'Steve Ballmer',
  'finalWorth': 80.7,
  'country': 'United States',
  'industries': 'Technology',
  'position': 10},
 {'personName': 'Francoise Bettencourt Meyers & family',
  'finalWorth': 80.5,
  'country': 'France',
  'industries': 'Fashion & Retail',
  'position': 11},
 {'personName': 'Larry Page',
  'finalWorth': 79.2,
  'country': 'United States',
  'industries': 'Technology',
  'position': 12},
 {'personName': 'Amancio Ortega',
  'finalWorth': 77.3,
  'country': 'Spain',
  'industries': 'Fashion & Retail',
  'position': 13},
 {'personName': 'Sergey Brin',
  'finalWorth': 76.0,
  'country': 'United States',
  'industries': 'Technology',
  'position': 14},
 {'personName': 'Zhong Shanshan',
  'finalWorth': 68.0,
  'country': 'China',
  'industries': 'Food & Beverage',
  'position': 15},
 {'personName': 'Mark Zuckerberg',
  'finalWorth': 64.4,
  'country': 'United States',
  'industries': 'Technology',
  'position': 16},
 {'personName': 'Charles Koch',
  'finalWorth': 59.0,
  'country': 'United States',
  'industries': 'Diversified',
  'position': 17},
 {'personName': 'Julia Koch & family',
  'finalWorth': 59.0,
  'country': 'United States',
  'industries': 'Diversified',
  'position': 18},
 {'personName': 'Jim Walton',
  'finalWorth': 58.8,
  'country': 'United States',
  'industries': 'Fashion & Retail',
  'position': 19},
 {'personName': 'Rob Walton',
  'finalWorth': 57.6,
  'country': 'United States',
  'industries': 'Fashion & Retail',
  'position': 20}]